@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/hint.css/src/hint';
@import 'elemental';

$primary-color: #C04848;

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.page-body {
  margin: 2em 0;
}

.warning {
  color: #fa9f47;
}
.error {
  color: #d64242;
}
.success {
  color: #34c240;
}

.list-parlamentares {
    margin: 1em 0;
    text-align: center;
    .Spinner {
      margin: 5em;
    }
    .fa {
      margin: .2em;
      font-size: 4em;
      line-height: 1em;
    }
}

.legenda-infografico {
  .legenda {
    font-size: .9em;
    margin: 0 0 1em 2em;
  }
}

.filter-infografico {
  text-align: right;
  margin: 1em 0 2em 0;
}

.botoes-compartilhar {
  margin: 2em 0 0 0;
  text-align: center;
  .Button {
    margin: 0 0 .5em .5em;
  }
}

@import "primary-nav";

@import "page-footer";

@import "banner-primary";
