/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  // min-width: 230px;
  // max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }


















.primary-nav {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: rgba(253, 253, 253, 0.95);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
  font-size: 0.9rem;
  line-height: 50px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  z-index: 102;
}
.primary-nav__item {
  -webkit-transition: all 140ms;
  -o-transition: all 140ms;
  transition: all 140ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-bottom: 1px solid transparent;
  color: #999;
  cursor: pointer;
  display: block;
  padding: 0 1.5vw;
}
.primary-nav__item:active,
.primary-nav__item:hover,
.primary-nav__item:focus {
  color: #333;
  text-decoration: none;
}
.primary-nav__item:active > .primary-nav__item-inner,
.primary-nav__item:hover > .primary-nav__item-inner,
.primary-nav__item:focus > .primary-nav__item-inner {
  box-shadow: inset 0 -3px 0 #31adb8;
}
.primary-nav__item.active {
  color: #333;
  font-weight: 500;
}
.primary-nav__item-inner {
  -webkit-transition: all 140ms;
  -o-transition: all 140ms;
  transition: all 140ms;
  display: inline-block;
}
.active > .primary-nav__item-inner {
  box-shadow: inset 0 -3px 0 #31adb8;
}
.primary-nav__brand {
  height: 32px;
  width: 32px;
  display: inline-block;
  left: 0;
  margin-top: -16px;
  margin-left: 1.2em;
  margin-right: 1.2em;
  position: absolute;
  top: 50%;
  vertical-align: middle;
  z-index: 2;
}
.primary-nav__brand.right {
  left: auto;
  right: 0;
}
.primary-nav__brand.special {
  height: 65px;
  width: 87px;
  left: -15px;
  margin: 0;
  overflow: hidden;
  top: -13px;
}
.primary-nav__brand-src {
  display: block;
  height: auto;
  max-width: 100%;
}
.primary-nav-menu-trigger {
  -webkit-transition: all 240ms;
  -o-transition: all 240ms;
  transition: all 240ms;
  background: none;
  border: none;
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
  outline: none;
  z-index: 4;
  -webkit-appearance: none;
}
.primary-nav-menu-trigger:focus {
  color: #999;
}
.primary-nav-menu-trigger-icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.primary-nav-menu-trigger-label {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .primary-nav-menu {
    height: 100%;
    width: 100%;
    -webkit-transition: all 240ms;
    -o-transition: all 240ms;
    transition: all 240ms;
    background-color: rgba(253, 253, 253, 0.95);
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 3;
  }
  .primary-nav-menu .primary-nav__item {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    color: #666;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.25em;
    opacity: 0;
  }
  .primary-nav-menu .primary-nav__item.active {
    color: black;
  }
  .primary-nav-menu.is-visible .primary-nav__item {
    -webkit-transition: all 240ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 240ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 240ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .primary-nav-menu.is-visible .primary-nav__item:nth-child(1) {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
  }
  .primary-nav-menu.is-visible .primary-nav__item:nth-child(2) {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
  }
  .primary-nav-menu.is-visible .primary-nav__item:nth-child(3) {
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms;
  }
  .primary-nav-menu.is-visible .primary-nav__item:nth-child(4) {
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms;
  }
  .primary-nav-menu.is-visible .primary-nav__item:nth-child(5) {
    -webkit-transition-delay: 250ms;
    transition-delay: 250ms;
  }
  .primary-nav-menu.is-visible .primary-nav__item:nth-child(6) {
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms;
  }
  .primary-nav-menu.is-visible .primary-nav__item:nth-child(7) {
    -webkit-transition-delay: 350ms;
    transition-delay: 350ms;
  }
  .primary-nav-menu-inner {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    width: 250px;
  }
  .primary-nav-menu.is-hidden {
    visibility: hidden;
    opacity: 0;
  }
  .primary-nav-menu.is-visible {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .primary-nav-menu {
    display: inline-block;
  }
  .primary-nav__item {
    display: inline-block;
  }
  .primary-nav-menu-trigger {
    display: none;
  }
}


















.page-footer {
  background-color: rgba(253, 253, 253, 0.95);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.17);
  color: #999;
  padding: 2em 0;
  text-align: center;
}
.page-footer a {
  color: #31adb8;
}
.page-footer a:hover,
.page-footer a:focus {
  color: #4dc5cf;
  outline: none;
}
.page-footer__icon {
  font-size: 1.125em;
}















.demo-banner--primary {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(135deg, #319db8, #31b8b3);
  background-image: -o-linear-gradient(135deg, #319db8, #31b8b3);
  background-image: linear-gradient(135deg, #319db8, #31b8b3);
  background-color: #31adb8;
  color: white;
  margin-top: -50px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.demo-banner--primary .demo-container {
  position: relative;
}
.demo-banner--primary .demo-banner__heading-1 {
  color: white;
  font-size: 60px;
  margin: 0;
}
.demo-banner--primary .demo-banner__heading-2 {
  color: white;
  opacity: .75;
}
@media (max-width: 480px) {
  .demo-banner--primary .demo-banner__heading-1 {
    font-size: 48px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
  }
  .demo-banner--primary .demo-banner__heading-2 {
    font-size: 30px;
  }
  .demo-banner--primary .demo-banner__button {
    display: block;
    font-size: 16px;
    line-height: 3;
    height: auto;
  }
}
.demo-banner-illustration {
  -webkit-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
  height: 180px;
  width: 180px;
  //background: url('../images/hero-bg.svg') no-repeat left top;
  background-size: 180px, 180px;
  left: -54px;
  position: absolute;
  top: -56px;
}
@media (min-width: 481px) {
  .demo-banner-illustration {
    height: 240px;
    width: 240px;
    background-size: 240px, 240px;
    left: -82px;
    top: -75px;
  }
}
