@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/hint.css/src/hint';
@import 'elemental';

$primary-color: #C04848;
$error-color: #d64242;
$success-color: #34c240;
$warning-color: #fa9f47;

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  padding: 0;
  text-align: center;
}

h2 {
  .featured {
    color: #fff;
    padding: .25em;
    font-weight: 800;
    text-transform: uppercase;
    background-color: $error-color;
    &.success {
      background-color: $success-color;
    }
    &.warning {
      background-color: $warning-color;
    }
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.page-body {
  margin: 2em 0;
}

.primary {
  color: #1385e5;
}

.warning {
  color: #fa9f47;
}
.error {
  color: #d64242;
}
.success {
  color: #34c240;
}

.list-parlamentares {
    margin: 1em 0;
    text-align: center;
    .Spinner {
      margin: 5em;
    }
    .fa {
      margin: .2em;
      font-size: 4em;
      line-height: 1em;
    }
}

.legenda-infografico {
  margin: 2.5em 0 0;
  .legenda {
    font-size: .9em;
    margin: 0 0 1em 2em;
  }
}

.filter-infografico {
  text-align: right;
  margin: 2.5em 0 0;
}

.botoes-compartilhar {
  margin: 2em 0 0 0;
  text-align: center;
  .Button {
    margin: 0 0 .5em .5em;
  }
}

.card-parlamentar {
  h1, h2, h3, h4 {
    text-align: left;
    margin: 0 0 .5em 0;
    i {
      font-size: 1.2em;
      width: 1.5em;
      text-align: center;
    }
  }
  .profile-image {
    text-align: center;
    h1, h2, h3, h4 {
      text-align: center;
      margin: 1em 0;
    }
    .image i {
      font-size: 7em;
    }
  }
  .profile-summary {
    margin: 0 0 1em;
  }
}

.profile-contacts {
  margin: 0 0 2em;
  text-align: center;
  h2 {
    display:inline-block;
    vertical-align: top;
    margin: 0 1em 0 0;
  }
  .Button {
    margin: 0 .5em 0 0;
  }
}

@import "primary-nav";

@import "page-footer";

@import "banner-primary";
